# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Audio / models (big files – never commit)
*.wav
*.mp3
*.zip
vosk-model*/
model*/

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace