vosk
pyaudio>=0.2.11
requests
python-dotenv
pytest
langchain
langchain-ollama
langgraph
langchain-community
pyttsx3>=2.90 # for my macbook
espeak-ng-python # for linux/github actions
speechrecognition